<footer>
    <div class="bot-centerbox">
        <nav class="bot-nav-bar d-none d-lg-block" role="navigation">
            <a class="bot-nav-a" routerLink="../about" routerLinkActive="active" > &copy; 2020 happening </a> <!-- make unclickable-->
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Privacy</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Impressum</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Terms and conditions</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Rules and policies</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Cookies</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Support</a>
            <a class="bot-nav-a" routerLinkActive="active" routerLink="../tos">Contact</a>
        </nav>

        <nav class="bot-nav-bar d-xs-block d-lg-none" role="navigation">

            <div class="container-fluid">

                <div class="row justify-content-center align-items-center" style="text-align: center; padding-bottom: 20px;">

                    <div class="col-12">

                        <a class="bot-nav-b" routerLink="../about" routerLinkActive="active"> &copy; 2020 happening </a> <br><!-- make unclickable-->
                    </div>


                    <div class="col-6 col-xs-5 col-md-5 justify-content-center align-items-center">

                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Terms</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Privacy</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Impressum</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">lorem ipsum</a>
                    </div>

                    <div class="col-6 col-xs-5 col-md-5 justify-content-center align-items-center">
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Rules</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Cookies</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Support</a> <br>
                        <a class="bot-nav-b" routerLinkActive="active" routerLink="../tos">Contact</a>

                    </div>



                </div>

            </div>



        </nav>


    </div>
</footer>