<div class="container">


    <div class="row m-4 blockA">
        <div class="col-md-11 m-2 ">
             <h2>this</h2> 
             <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
                <h3>under construction</h3>
        </div>
        </div>
    </div>

    <div class="row m-4 blockB">
        <div class="col-md-11 m-2 block">
          <h2>you</h2>
          
        </div>
        <p>
            our goal is to have records of everything taking place around the world as soon as it happened - in order for this to work we need as many observers as possible
            as you submit articles and vote on others submissions the database grows and gains in credibility and authenticity. every vote counts equally.
            
          </p>
    </div>

    <div class="row m-4 blockA">
        <div class="col-md-11 m-2 ">
            <h2>articles</h2>
            <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
                <h3>under construction</h3>
        </div>
        </div>
    </div>

    <div class="row m-4 blockB">
        <div class="col-md-11 m-2 block">
          <h2>causes and consequences</h2>
          <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
            <h3>under construction</h3>
    </div>
        </div>
    </div>

    <div class="row m-4 blockA">
        <div class="col-md-11 m-2 ">
            <h2>metrics</h2>
            <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
                <h3>under construction</h3>
        </div>
        </div>
    </div>

    <div class="row m-4 blockB">
        <div class="col-md-11 m-2 block">
          <h2>sources</h2>
          <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
            <h3>under construction</h3>
    </div>
        </div>
    </div>

    <div class="row m-4 blockA">
        <div class="col-md-11 m-2 ">
            <h2>media</h2>
            <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
                <h3>under construction</h3>
        </div>
        </div>
    </div>

    <div class="row m-4 blockB">
        <div class="col-md-11 m-2 block">
          <h2>tags</h2>
          <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
            <h3>under construction</h3>
    </div>
        </div>
    </div>

    <div class="row m-4 blockA">
        <div class="col-md-11 m-2 ">
            <h2>headlines</h2>
            <div class="row m-2 align-items-center justify-content-center" style="min-height: 300px;">
                <h3>under construction</h3>
        </div>
        </div>
    </div>





    <app-footer></app-footer>

</div>
