<bootstrap-panel>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/ng-busy/src/style/busy.css">
  </head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <ng-container class="heading">
    <div>

        <!-- =============== NAVBAR MOBILE ==================-->
      <div class="pos-f-t d-sm-block d-xs-block d-lg-none">
        <div class="collapse " id="navbarToggleExternalContent">
          <div class="container-fluid  p-4">
            <div class="row align-items-center justify-content-center">


              <a class="btn btn-light m-1 inv" *ngIf="true"
              routerLink='/login' routerLinkActive='active' > be anyone </a>
              <ng-template #loggedOut>
                <a class="btn btn-light m-1 inv" routerLink='/login' routerLinkActive='active' > be you </a>
              </ng-template>
              |
              <a type="button" class="btn btn-light m-1 inv " routerLink='/wiki' data-toggle="tooltip"
                data-placement="bottom" title="learn how to use our website" routerLinkActive='active'> how to </a>
              |
              <a type="button" routerLink='/about' routerLinkActive='active' data-toggle="tooltip"
                data-placement="bottom" title="learn more about the project" class="btn btn-light m-1 inv"> why </a>

                
              <span *ngIf="auths.isAuthenticated$ | async">
                |
                <a type="button" routerLink='/v' routerLinkActive='active' data-toggle="tooltip"
                  data-placement="bottom" title="check newly suggested articles" class="btn btn-light m-1 inv"> vote
                </a>
              </span>

            </div>





          </div>
        </div>
      </div>

      <nav class=" navbar navbar-light" style=" margin-left: 0;padding-left: 0; padding-right:0;margin-bottom: 20px;">

        <button class="navbar-toggler d-sm-block d-xs-block d-lg-none" type="button" data-toggle="collapse"
          data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <!-- ================  NAVBAR REGULAR ================ -->

        <!-- TOP LEFT LOGO-->
        <a class="navbar-brand" href="#">

          <div class="container-fluid">
            <div data-toggle="tooltip" style="height: 3vmax; padding-left: 2vmax;" data-placement="bottom" title="back to homepage" class="row align-items-center text-center mx-auto">


                <h1 routerLink='home' routerLinkActive='active' class="noborder m-0"
                style="height: max; text-align: center; cursor: pointer; font-size: 2vmax; display: inline-flex;">
                happening
              </h1>
              <img style=" height: 100% " src="/assets/pulsating.gif" alt="">
             
            </div>
          </div>


        </a>



        <!-- SEARCH BAR-->
        <div class=" text-center">

          <div class="container-fluid text-center">

            <div class="row align-items-center justify-content-center">

              <div class="d-none d-lg-block">
                <input style="width: 30vw; padding: 0; margin: 0;" [formControl]="searchField"
                  (keydown.enter)="doSearch(searchField.value)" class="form-control mb-10 p-2" type="search"
                  placeholder=" {{ searchText }} " aria-label="Search">


              </div>
              <div class=" d-none d-lg-block">
                <img data-toggle="tooltip" data-placement="bottom" title="submit a new article" routerLink='create'
                  routerLinkActive="active" class="icl add" src="/assets/add.png">
              </div>
            </div>
          </div>
        </div>



        <!-- TOP RIGHT NAV -->
        <div class="justify-content-center d-none d-md-none d-lg-block d-xs-none col-lg-3" style="text-align: center;">

          <a class="btn btn-light m-1 inv" *ngIf="isAuthenticated(); else loggedOut"
            (click)="logout()"> be anyone </a>
          <ng-template #loggedOut>
            <a class="btn btn-light m-1 inv" routerLink="/login" routerLinkActive="active"> be you </a>
          </ng-template>

          |
          <a type="button" class="btn btn-light m-1 inv " routerLink='/wiki' data-toggle="tooltip"
            data-placement="bottom" title="learn how to use our website" routerLinkActive='active'> how to </a>
          |
          <a type="button" routerLink='/about' routerLinkActive='active' data-toggle="tooltip" data-placement="bottom"
            title="learn more about the project" class="btn btn-light m-1 inv"> why </a>
          <span *ngIf="isAuthenticated()">
            |
            <a type="button" routerLink='/v' routerLinkActive='active' data-toggle="tooltip"
              data-placement="bottom" title="check newly suggested articles" class="btn btn-light m-1 inv"> vote </a>
          </span>


        </div>



      </nav>
    </div>

  </ng-container>


  <div class="body">


    <div *ngIf="messageSuccess" class="row align-items-center justify-content-center m-1">
      <div style="width: 60vw;" class="alert alert-success m-1" role="alert">
        {{successMessage}}
      </div>
    </div>


      <div *ngIf="infoMessage" class="row align-items-center justify-content-center m-1">
        <div style="width: 60vw;" style="display: inline-flex;" class="alert alert-info m-1" role="alert">
          <p style="font-size: smaller; margin: 0; ">
            The website is currently in developement and the backend is usually offline. 
            Do not enter sensitive data. You can <u>
            <span style="cursor: pointer;" (click)="infoMessage = !infoMessage">hide</span></u> this message. 
          </p>

        </div>

      </div>


    <!-- COOKIES - currently not visible on mobile (loading animation is displayed on top of cookie message...) -->
    <div>
      <div *ngIf="!cookiesAccepted" class="container-fluid d-none d-lg-block ">
        <div class="row justify-content-center align-items-center">
          <div class="pl-3 pr-3 cm" style=" color: white;background-color:black; text-align: center; position: fixed; bottom: 15px; width: fit-content; height: fit-content; z-index: 100; border-radius: 10px; ">
          <p style="margin: 0; padding: 0; font-size: x-small;" > Durch die weitere Nutzung der Seite stimmen Sie der Verwendung von Cookies zu. <em> <u class="clickable"> Weitere Informationen </u> </em>
            <button  class="btn btn-light m-3" (click)="acceptCookies()" style="margin:0;font-size: x-small">
              Accept Cookies
            </button>
          </p>
            
          </div>
        </div>
        </div>
  
        <div *ngIf="!cookiesAccepted" class="container-fluid d-xs-block d-lg-none">
          <div class="row justify-content-center align-items-center">
            <div class="p-3" style=" color: white;background-color:#323F4B; text-align: center; position: fixed; top:10%; width: fit-content; height: fit-content; z-index: 100; border-radius: 10px; ">
              The cookies on this website are used by us for functional purposes only - providing social media features, keeping you logged in and analyzing traffic. <br>
              By clicking “Accept Cookies”, you consent to the storing of the required cookies on your device. For more information, visit our Cookie Policy. <br>
              <button  class="btn btn-light m-2" (click)="acceptCookies()" style="font-size: small;">
                Accept Cookies
              </button>
              <button class="btn btn-secondary m-2" style="font-size: small;">
                Cookie Policy
              </button>
            </div>
          </div>
        </div>
  
    </div>
   





    <!--routed stuff-->
    
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet  #outlet="outlet" ></router-outlet>
    </div>
     
    
  </div>


</bootstrap-panel>

