

.small-input{
    background-color: #ffffff;
    border-radius: 3mm;
    width: 250px;
    height: 40px;
    margin: 5px;
    box-shadow: none;
    border: solid 0.3mm #babababa;

    
}

input {
    border: none;
    padding: 5px;
    margin: 0;
    background: transparent;
    font: 16px sans-serif;
}

input:focus{
    border: none;
}